.hadabsolute {
  color: darkslategray;
  text-align: center;
  font-size: 1em;
  font-family: Lato, serif;
  position: fixed;!important
  top: 100%;
  left: 30%;
  right: 20%;
  opacity: 0.5;
  z-index: 9999;
}

.had-r1absolute {
  line-height: 1em;
  font-size: 5em;
  font-weight: 100;
}

.had-ampabsolute {
  position: fixed;!importat
  color: darkgray;
  font-size: 3em;
  font-style: italic;
  vertical-align: bottom;
  margin: 0 -0.3em;
  z-index: 9999;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid black;
}