<div class = "container-fluid">
    <div class="had">
        <h1 class="had-r1">LABS <span class="had-amp">&amp;</span> INVESTIGATIONS</h1>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color:darkgray;">
  <div class="container">
    <h1 class="text-white">Laboratorios 14 &amp; 16</h1>
    <p class="text-white" style="text-align: center">PHP, consultas dinámicas y manipulación de registros en BD</p>
  </div>
</div>

<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <div class="container">
                        <form class="form-group" action="upload.php" enctype="multipart/form-data">
                            <label for="file"><h2>Nombre del archivo:</h2></label>
                            <input type="text" name="file" class="form-control" id="file">
                            <label for="file"><h2>Selecciona una imagen:</h2></label>
                            <input type="file" name="imagen" class="form-control" id="imagen">
                            <p></p>
                            <input type="submit" value="Upload Image" class="btn btn-primary" name="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <?php if (isset($_SESSION["error_archivo"]) != ""): ?>
                  <div class="card">
                    <span class="card-text"><?=$_SESSION["error_archivo"] ?></span>
                  </div>
                <?php endif; ?>
            </div>
        </div>
</div>

<p></p>

<div class="container container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <section>
            <h2 >Questions</h2>
            <h3 class="pregunta">¿Qué es ODBC y para qué es útil?</h3>
            <p>[1] Es una especificación para una base de datos API que contienee las rutinas de acceso</p>
            <h3 class="pregunta">¿Qué es SQL Injection?</h3>
            <p>[2] Es una técnica de insersión de código que puede destruir una base de datos mediante código malicioso.</p>
            <h3 class="pregunta">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</h3>
            <p>[3] Mediante la parametrización de queries y uso de statements preparados</p>
            <h3 class="pregunta">¿Por qué es una buena práctica separar el modelo del controlador?</h3>
            <p>De acuerdo a lo visto en clase, para prevenir ataques.<br>
            [4] Permitir la modificación de los modelos y que el resto de la aplicación permanezca intacta</p>
            <h3 class="pregunta">¿Qué es SQL injection y cómo se puede prevenir?</h3>
            <p>[2] Es una técnica de insersión de código que puede destruir una base de datos mediante código malicioso.<br>
            [3] Mediante la parametrización de queries y uso de statements preparados</p>
            <h2>REFERENCIAS</h2>
            <p>
            1.- https://docs.microsoft.com/en-us/sql/odbc/reference/what-is-odbc<br>
            2.- https://www.w3schools.com/sql/sql_injection.asp<br>
            3.- https://www.owasp.org/index.php/SQL_Injection_Prevention_Cheat_Sheet<br>
            4.- https://codigofacilito.com/articulos/mvc-model-view-controller-explicado
            </p>
            <p></p>
        </section>
    </div>
</div>

<p></p>
