<!DOCTYPE html>
<html lang="es">
<head>
    <title>LABORATORIOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/funciones_footer.css">
    <link rel="stylesheet" type="text/css" href="css/funciones.css">
    <link rel="stylesheet" type="text/css" href="css/labsix_css.css">
</head>